/* yellow color is #ffc107 */

body {
  font-family: "Poppins", sans-serif;
}

#heroText h1 {
  font-weight: 700;
  font-size: 2em;
}

#heroText p {
  font-weight: 300;
}

#cardsSection {
  background-color: rgb(39, 39, 39);
}

#signUp {
  border-radius: 10px;
}

.card {
  stroke-width: 0px;
  border-radius: 10px;
}

h1 {
  font-weight: 700;
}

.card-img-top {
  object-fit: cover;
  max-height: 200px;
  min-height: 200px;
  border-radius: 10px;
}

.card {
  border-width: 3px;
  border-color: white;
}

footer {
  background-color: #ffc107;
}

#hero .row {
  padding-top: 10rem;
}
