/* yellow color is #ffc107 */

body {
  font-family: "Poppins", sans-serif;
}

#heroText h1 {
  font-weight: 700;
}

#heroText p {
  font-weight: 300;
}

#cardsSection {
  background-color: rgb(39, 39, 39);
}

#cardsSection .row-content {
  width: 80vw;
  margin: auto;
}

#signUp {
  border-radius: 10px;
}

.card {
  stroke-width: 0px;
  border-radius: 10px;
  transition: transform .2s;
}

.card:hover {
  transform: scale(1.1);
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

.card-img-top {
  object-fit: cover;
  max-height: 200px;
  min-height: 200px;
  border-radius: 10px;
}

.card {
  border-width: 3px;
  border-color: white;
}

footer {
  background-color: #ffc107;
}

.navbar #signupButton {
  color: #ffc107;
}

#hero {
  height: 66vh;
}

#heroText {
}

.heroContainer {
  height: 66vh;
}


.card h2 {
  text-shadow: 2px 2px 6px black;
}

@media only screen and (min-width: 1024px) {
  #heroText{
    transform: scale(1.3);
    padding-left:90px;
  }
}

@media only screen and (max-width: 768px) {
#hero {
  height:33vh;
}
.heroContainer{
  height:33vh;
}
#heroArt {
  display:none;
}

}

@media only screen and (max-width: 375px) {
#heroText{
  transform:scale(.75);
}
}